<!-- ### AULAS -->
<!-- <app-header></app-header>

<div class="main">
    <h1>{{ title }}</h1>

    <input type="text" #campo (keyup)="atualizarTexto(campo.value)" />
    <p>{{ text }}</p>
    <p>{{ text.length }} caracteres.</p>

    <hr />

    <button (click)="show()">{{ mostrarText }}</button>

    @if(mostrarIngredientes){ @if (loading) {
    <p>Carregando...</p>
    } @if (!loading) {
    <div class="list">
        <ul>
            @for (item of itens; track $index) {
            <li>{{ item.getLabel() }}</li>
            }
        </ul>

        @if (itens.length > 3) {
        <p>Receita possui muitos ingredientes.</p>
        }
    </div>
    } }
</div>

<router-outlet></router-outlet> -->