<div class="home-container">
    <h1>Feed:</h1>

    <!-- Form de busca -->
    <div *ngIf="moments.length > 0; else noMoments">
        <div class="moments-container">
            <div class="moment" *ngFor="let moment of moments">
                <img src="{{baseApiUrl}}/uploads/{{moment.image}}" alt="{{moment.title}}">
                <h3>{{moment.title}}</h3>
                <p class="date">criado em: {{moment.created_at | date:'dd/MM/yyyy HH:mm'}}</p>
                <p>Comentários: {{moment.comments}}</p>
                <p><a routerLink="moments/{{moment.id}}">Detalhes</a></p>
            </div>
        </div>

    </div>

    <ng-template #noMoments>
        <p>Não há momentos para serem exibidos.</p>
    </ng-template>

</div>