button {
  background-color: dodgerblue;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    filter: brightness(1.2);
  }
}
