<div class="header">Header</div>

<nav>
    <a routerLink="/">home</a>
    <a routerLink="/list">list + service</a>
    <a routerLink="/emitter">emitter</a>
    <a routerLink="/directives">directives</a>
    <!-- <a routerLink="/parent">parent</a> -->
    <a routerLink="/events">events</a>
    <a routerLink="/conditional">conditional</a>
    <a routerLink="/pipes">pipes</a>
    <a routerLink="/two-way">two-way</a>
</nav>
<!-- <div class="class">
    <h1>Hello Word!</h1>
</div> -->

<!-- <app-first-component></app-first-component>
<app-parent-data [name]="userName" [data]="userData"></app-parent-data>
<app-directives></app-directives>
<app-if-render></app-if-render>
<app-events></app-events>
<app-change-number></app-change-number>
<app-list-render></app-list-render>
<app-pipes></app-pipes>
<app-two-way-binding></app-two-way-binding> -->

<router-outlet></router-outlet>

<div class="footer">Footer</div>